@model MoldeMVC_Core.Models.Medicos

@{
    ViewData["Title"] = "Eliminar Médico";
}

<h1>Eliminar Médico</h1>

<h3>¿Está seguro que desea eliminar este registro?</h3>

<div>
    <h4>Medicos</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">
            ID
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model._id)
        </dd>

        <dt class="col-sm-3">
            Nombre
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt class="col-sm-3">
            ID Especialidad
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.especialidadId)
        </dd>

        <dt class="col-sm-3">
            Foto
        </dt>
        <dd class="col-sm-9">
            @if (!string.IsNullOrEmpty(Model.foto))
            {
                <img src="~/usuarios/@Model.foto"
                     alt="Foto del médico"
                     width="120"
                     height="120"
                     style="object-fit: cover;" />
            }
            else
            {
                <span>Sin foto</span>
            }
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="_id" />

        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </form>
</div>