@model MoldeMVC_Core.Models.Medicamentos

@{
    ViewData["Title"] = "Eliminar Medicamento";
}

<h1>Eliminar Medicamento</h1>
<h3>¿Está seguro que desea eliminar este registro?</h3>

<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">@Model.Nombre</dd>

        <dt class="col-sm-3">Tipo</dt>
        <dd class="col-sm-9">@Model.Tipo</dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.IdStr" method="post">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </form>
</div>
