@model MoldeMVC_Core.Models.Especialidade

@{
    ViewData["Title"] = "Eliminar Especialidad";
}

<h1>Eliminar Especialidad</h1>
<h3>¿Está seguro que desea eliminar este registro?</h3>

<div>
    <h4>Especialidad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Descripción</dt>
        <dd class="col-sm-9">@Model.Descripcion</dd>

        <dt class="col-sm-3">Días</dt>
        <dd class="col-sm-9">@Model.Dias</dd>

        <dt class="col-sm-3">Hora Inicio</dt>
        <dd class="col-sm-9">@Model.FranjaHi.ToString("HH:mm")</dd>

        <dt class="col-sm-3">Hora Fin</dt>
        <dd class="col-sm-9">@Model.FranjaHf.ToString("HH:mm")</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdEspecialidad" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </form>
</div>
